<div class="container" xmlns="http://www.w3.org/1999/html">
  <h1 *ngIf="hotels && hotels.length > 0">{{ title }}</h1>
  <button class="btn btn-primary d-flex" (click)="toggleIsNewBadge()">
    <span class="material-icons">
      {{showBadge ? 'visibility_off' : 'visibility'}}
    </span>
    <span class="ms-2"> {{showBadge ? 'Hid' : 'Show'}} New</span></button>
<hr>
  <div class="my-2">
    <div class="row">
      <div class="col-md-4">
        <span>Filter:</span>
        <b>{{hotelFilter}}</b>
      </div>
      <div class="col-md-8"><input type="text" class="form-control" [(ngModel)]="hotelFilter"></div>
    </div>
  </div>
  <div class="alert alert-primary" *ngIf="receivedRating">{{receivedRating}}</div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let hotel of filteredHotels" >
      <div class="card">
        <img [src]="hotel.imageUrl" [title]="hotel.hotelName | uppercase" class="card-img-top" [alt]="hotel.hotelName">
        <div class="card-body">
          <h5 class="card-title">{{ hotel.hotelName }}</h5>
          <p class="card-text">{{ hotel.description}}</p>
          <p class="card-text">{{hotel.price | currency: 'EUR': 'symbol': '1.2-2': 'fr' | replaceComma}}</p>
          <div class="d-flex justify-content-between align-items-baseline">
            <app-star-rating [rating] = hotel.rating  (starRatingClicked)="receiveRatingClick($event)"></app-star-rating>
            <span class="material-icons bg-info text-white p-2 rounded-circle btn" [routerLink]="['/hotels', hotel.hotelId]">
            keyboard_arrow_right
          </span>
          </div>
          <span class="badge rounded-pill bg-info text-white" *ngIf="showBadge">New</span>
        </div>
      </div>
    </div>
  </div>
</div>
